@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-blue-900;
}
.ais-SearchBox {
  @apply p-5 bg-gray-200 mt-10 mb-5;
}
.ais-SearchBox-form {
  @apply m-0;
}
.ais-SearchBox-form input {
  @apply pl-5 pt-3 pb-3 pr-5 w-full;
}
.ais-SearchBox-form button {
  @apply hidden;
}
